.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  margin: auto;
  inset: 0;
  width: clamp(327px, 90vw, 384px);
  height: clamp(501px, 90vh, 522px);
  padding: 24px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  border: 1px solid black;
}

.card-image {
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
}

.Learning {
  display: inline-block;
  align-self: flex-start;
  border-radius: 4px;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px 4px 12px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 800;
  color: #111111;
  box-sizing: border-box;
  letter-spacing: 0px;
}

.Publish-Date {
  font-size: 14px;
  line-height: 150%;
  color: #111111;
  font-weight: 500;
  letter-spacing: 0px;
}

.Title {
  font-size: 24px;
  line-height: 150%;
  color: #111111;
  font-weight: 800;
  letter-spacing: 0px;
}

.Description {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0px;
}

.Author {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0px;
  color: #111111;
}

.userpic {
  height: 32px;
  width: 32px;
}